body
{
  font-family: 'Indie Flower','Square Peg', cursive;
  background: #36dfb5;
}

.header_div
  {
  background: #b876be;
  color: white; 
  border-radius: 9px 54px 54px 9px;
  }

  .header_div p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #6c757d;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #fac20b;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
